body{
    margin: 0%;
    height: 100%;
}
nav{
    margin: 0;
    width: 100%;
}
.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "nubes menu options";
    background: black;
  }

  .container .btn{
      color: white;
  }
  .container .btn:hover{
      color: white;
  }
    .menu { 
      grid-area: menu;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
    }
    .menu ol{
        padding-left: 0px;
    }
    .menu li{
        display:inline;
        padding-left:3px;
        padding-right:3px;
        color: white;
    }
        .menu li a{
            text-decoration: none;
            cursor: none;
            color: white;
        }
        .menu li a:hover{
            transition: .55s;
            font-size: larger;
            border:.1rem solid white;
            padding: .3rem;
            padding-left: .6rem;
            padding-right: .6rem;
        }
  
    .options { 
        grid-area: options; 
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
    }
  
    .nubes { 
        grid-area: nubes;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        width: 12.5rem;
        height: 4.938rem;
    }

    #open4jobimg{
        width: 100%;
        height: 100%;
        margin: 0;
    }

.terminal-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 100px 420px 100px;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    ". . ."
    ". terminal ."
    ". . .";
    }

    .terminal {
    display: grid;
    grid-template-columns: 0.2fr 1.8fr;
    grid-template-rows: 0.1fr 3fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "controls ."
        "prompt prompt";
    grid-area: terminal;
    background: gray;
    border-radius: 10px;
    position: relative;
    top: 0;
    height: 30rem;
    }

    .controls { 
        grid-area: controls; 
        display: grid;
        grid-template-columns: 25px 25px 25px;
        grid-template-areas: "circle-red circle-yellow circle-green";
        padding: 15px;
        }
        #circle-red{
            grid-area: circle-red;
            width: 15px;
            height: 15px;
            border-radius: 25px;
            background: #f8524e;

        }
        #circle-red:hover{
            opacity: .6;
        }

        #circle-yellow{
            grid-area: circle-yellow;
            width: 15px;
            height: 15px;
            border-radius: 25px;
            background: #fabd2e;

        }
        #circle-yellow:hover{
            opacity: .6;
        }

        #circle-green{
            grid-area: circle-green;
            width: 15px;
            height: 15px;
            border-radius: 25px;
            background: #30c941;

        }
        #circle-green:hover{
            opacity: .6;
        }

    #countdown{
        width:2rem;
        padding: 0;
        text-align: center;
    }
    .prompt { 
        grid-area: prompt; 
        background: black;
        border-radius: 10px;
        overflow: auto;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        display: flex;
        flex-direction: column;
    }
        .prompt input{
            padding-left: 20px;
            background: none;
            border: none;
            color: white;
            margin-bottom: 20px;
        }
        .prompt input:focus{
            outline: none;
        }
        .prompt input::placeholder {
            color: white;
            font-size:small;
        }
        .prompt p{
            padding-left: 20px;
        }
        .prompt li{
            padding-left: 20px;
        }
        .command{
            color: white;
        }
        .path{
            color: blue;
        }
        .repo{
            color: green;
        }
    #output_console{
        color: white;
    }
.presentacion {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 25% 50% 25%;
    gap: 0px 0px;
    overflow-x: auto;
    grid-auto-flow: row;
    grid-template-areas:
        "top"
        "center"
        "bottom";
    }
    
    .center {
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr; 
        grid-template-rows: 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
          "experiencia foto center-right"; 
        grid-area: center; 
    }
    
    .foto { 
        grid-area: foto; 
        display: grid;
        justify-content: center;
    }
    .foto:hover{
        border-right: .1rem solid black;
        border-left: .1rem solid black;
        border-top: .1rem solid black;
        border-bottom: .1rem solid black;
    }
    #my_pic{
        border-radius: 5rem;
        margin-top: 3rem;
    }

    .experiencia { 
        grid-area: experiencia; 
        margin-top: 2rem;
        display: flex;
        flex-direction: row;
        max-height: 100%;
        overflow-y: auto;
    }

    .experiencia:hover{
        border-right: .1rem solid black;
        border-bottom: .1rem solid black;
    }

    h2{
        font-family: 'Chakra Petch', sans-serif;
        font-weight: 500;
        font-size: 2rem;
        margin-left: 1rem;
        margin-top: 0;
    }
    
    #experience_icon{
        width: 4rem;
        height: 4rem;
        margin-left: 2rem;
    }
    .experiencia p{
        margin: 0;
        padding: 0;
    }
    .experiencia li{
        margin-top: 1rem;
    }
    
    .center-right {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "formacion formacion formacion";
    grid-area: center-right;
    }
    
    .formacion { 
        grid-area: formacion; 
        display: flex;
        flex-direction: column;
        align-items: center ;
    }
    .formacion:hover{
        border-left: .1rem solid black;
        border-bottom: .1rem solid black;
    }
    .formacion h2{
        margin: 0;
    }
    .formacion ul{
        margin-top: 0;
    }
    .formacion li{
        margin: 2rem;
    }
    .formacion p{
        margin: 0;
        padding: 0;
    }
    #degree_icon{
        width: 4rem;
        height: 4rem;
    }
    
    
    .top {
    display: grid;
    grid-template-columns: 1fr 0.5fr 1.5fr;
    grid-template-rows: .5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "flag_n_name direccion bio";
    grid-area: top;
    }
    .flag_n_name{
        grid-area: flag_n_name;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    .nombre { 
        text-align: center; 
    }
    .flag_n_name:hover{
        border-right: .1rem solid black;
        border-bottom: .1rem solid black;
    }
    .nombre p{
        margin: 0;
    }
    .nombre #nombre{
        font-family: 'Chakra Petch', sans-serif;
        font-weight: 300;
        font-size: 4.375rem;
    }
    .nombre #apellido{
        font-family: 'Chakra Petch', sans-serif;
        font-weight: 600;
        font-size: 5rem;
    }

    #my_flag{
        width: 10rem;
        height: 10rem;
    }

    .sub_title{
        font-size: 1rem;
        font-family: 'Chakra Petch', sans-serif;
        font-weight: 300;

    }
    .title{
        font-size: 1.5rem;
        font-family: 'Chakra Petch', sans-serif;
        font-weight: 500;

    }
    .direccion { 
        grid-area: direccion; 
        display: grid;
        place-items: center;
    }
    .direccion:hover{
        border-right: .1rem solid black;
        border-bottom: .1rem solid black;
    }
    .direccion p{
        margin: 0;
        text-align: center;
    }
    .direccion i{
        display: grid;
        justify-content: center;
    }

    #residence_icon{
        width: 3.375rem;
        height: 4.438rem;
        padding: .3rem;

    }
    
    .bio { 
        grid-area: bio; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 20px;
    }
    .bio:hover{
        border-left: .1rem solid black;
        border-bottom: .1rem solid black;
    }

    #profile_icon{
        width: 4rem;
        height: 4rem;
        padding: .3rem;
    }

    
    .bottom {
    display: grid;
    grid-template-columns: 1.2fr 1fr 0.9fr 0.9fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "habilidades tecnologias interes contacto";
    grid-area: bottom;
    }
    
    .habilidades { 
        grid-area: habilidades; 
    }
    .habilidades:hover{
        border-right: .1rem solid black;
        border-top: .1rem solid black;
    }
    .barra{
        margin-left: 3rem;
        width: 70%;
        height: 1.5rem;
        background: gray;
        margin-top: 1.5rem;
    }

    .habilidad{
        margin-left: 1rem;
        font-family: 'Chakra Petch', sans-serif;
        font-weight: 500;
        font-size: 1rem;
        color: white;
    }

    #ES{
        height: 100%;
        width: 99%;
        background-color: black;
    }
    #EN{
        height: 100%;
        width: 70%;
        background-color: black;
    }
    #FR{
        height: 100%;
        width: 10%;
        background-color: black;
    }

    .tecnologias{
        grid-area: tecnologias;
    }
    .tecnologias:hover{
        border-right: .1rem solid black;
        border-top: .1rem solid black;
    }
    .tecnologias-elements{
        display: flex;
        text-align: center;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .tech_elemet_icon{
        width: 2.5rem;
        height: 2.5rem;
    }

    .interes { 
        grid-area: interes; 
        text-align: center;
    }
    .interes:hover{
        border-left: .1rem solid black;
        border-top: .1rem solid black;
    }
    .interes_images{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .contacto { 
        grid-area: contacto; 
        display: flex;
        flex-direction: column;
    }
    .contacto:hover{
        border-left: .1rem solid black;
        border-top: .1rem solid black;
    }
        .contacto a{
            text-decoration: none;
            cursor: cell;
            color: black;
        }