body{
    margin: 0%;
    height: 100%;
}
.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "nubes menu options";
    background: black;
  }
  
    .menu { 
      grid-area: menu;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
    }
    .menu ol{
        padding-left: 0px;
    }
    .menu li{
        display:inline;
        padding-left:3px;
        padding-right:3px;
        color: white;
    }
        .menu li a{
            text-decoration: none;
            cursor: cell;
            color: white;
        }
  
    .options { 
        grid-area: options; 
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
    }
  
    .nubes { 
        grid-area: nubes; 
    }

.terminal-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 100px 420px 100px;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    ". . ."
    ". terminal ."
    ". . .";
    }

    .terminal {
    display: grid;
    grid-template-columns: 0.2fr 1.8fr;
    grid-template-rows: 0.1fr 3fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "controls ."
        "prompt prompt";
    grid-area: terminal;
    background: gray;
    border-radius: 10px;
    }

    .controls { 
        grid-area: controls; 
        display: grid;
        grid-template-columns: 25px 25px 25px;
        grid-template-areas: "circle-red circle-yellow circle-green";
        padding: 15px;
        }
        #circle-red{
            grid-area: circle-red;
            width: 15px;
            height: 15px;
            border-radius: 25px;
            background: #f8524e;

        }
        #circle-red:hover{
            opacity: .6;
        }

        #circle-yellow{
            grid-area: circle-yellow;
            width: 15px;
            height: 15px;
            border-radius: 25px;
            background: #fabd2e;

        }
        #circle-yellow:hover{
            opacity: .6;
        }

        #circle-green{
            grid-area: circle-green;
            width: 15px;
            height: 15px;
            border-radius: 25px;
            background: #30c941;

        }
        #circle-green:hover{
            opacity: .6;
        }

    .prompt { 
        grid-area: prompt; 
        background: black;
        border-radius: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        display: flex;
        flex-direction: column;
    }
        .prompt input{
            padding-left: 20px;
            background: none;
            border: none;
            color: white;
            margin-bottom: 20px;
        }
        .prompt input:focus{
            outline: none;
        }
        .prompt input::placeholder {
            color: white;
            font-size:small;
        }
        .prompt p{
            padding-left: 20px;
        }
        .command{
            color: white;
        }
        .path{
            color: blue;
        }
        .repo{
            color: green;
        }
    #output_console{
        color: white;
    }


footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:"main-area";
    background: black;
    color: white;
    }

    footer a{
        text-decoration: none;
        cursor: cell;
        color: white;
    }
    
    .main-area { 
        grid-area: main-area; 
        text-align: center;
        align-items: center;
        justify-content: center;
    }

        .main-area li{
            display:inline;
            padding-left:30px;
            padding-right:30px;
            color: white;
        }
            


    .icons-tech img{
        width: 80px;
        height: 80px;
    }
